.page-header {
	padding: 40px 0 20px;

	&__logo {
		margin-right: 20px;
	}

	.container();
}

.page-header__inner {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
}

.page-header__menu {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
}

.menu__item {
	display: inline-block;
	text-transform: uppercase;
	font-family: @titles;
	font-weight: @med-weight;
	margin: 20px 10px;
	position: relative;

	& a {
		padding: 10px 12px;
	}

	&.nav a:before {
		content: '';
		display: block;
		opacity: 0;
		width: calc(~"100% - 24px");
		height: 3px;
		background: @link-color;
		position: absolute;
		bottom: -10px;
		left: 12px;
	}

	&.nav a:hover:before {
		opacity: 1;
	} 

	// & a:active {
	// 	border-bottom: 2px solid @link-color;
	// }
}


li:first-child {
	margin-left: 0;
}

li:last-child {
	margin-right: 0;
}

.tel {
	font-size: 20px;
}

.tel:hover {
	color: @link-color;
}

.button {
	display: block;
	box-sizing: border-box;
	background-color: #fff;
	min-width: 130px;
	border: 2px solid #000;
	padding: 10px;
	font-family: @titles;
	font-weight: @big-weight;
	color: @link-color;
}

.button:hover {
	background-color: @link-color;
	color: #fff;
}