.title {
	font-size: @h1-size;
	font-weight: @h1-weight;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

.caption {
	
}

.button-reg {
	text-align: center;
	color: @link-color;
}

tr {
	
}

td {
	padding: 10px;
	border: 2px solid #000;
}
 