body {
	min-width: 1160px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 60px;
	background-color: #ffffff;
	color: @text-color;
	text-align: center;
	font-family: @small-text;
	font-size: @small-size;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: @text-color;
} 