@screen-xs:                   480px;
@screen-sm:                   768px;
@screen-md:                   992px;
@screen-lg:                   1200px;
@screen-xl:                   1920px;

// COLOR

@text-color:                  #111111;
@link-color:				  #74e196;

// TYPE 

@small-text:                  'PT Sans', sans-serif;
@titles:			          'Rubik', sans-serif;

// SIZE

@small-size:                   15px;
@h2-size:                      20px;
@h1-size:                      40px;

// WEIGHT

@small-weight:                 400;
@h2-weight:                    500;
@h1-weight:                    700;